nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: blue; */
  gap: 450px;
}
.filter-by {
  display: flex;
  gap: 24px;
  position: relative;
}
.filter-by ul {
  position: relative;
  top: 1em;
  /* right: 5em; */
}
.sort-by {
  display: flex;
  gap: 24px;
  position: relative;
}
.sort-by ul {
  position: relative;
  top: 1em;
}
ul {
  border: 1px solid black;
  width: 60px;
  height: 25px;
  background-color: aquamarine;
  border-radius: var(--border-radius);
}
